@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@300;400&display=swap');

:root {
    /* -------- COLOR --------- */
    --bg-color: #fff;
    --bg-accent: #f5f5f5;
    --text-color: #000;
    --bg-red: #d2222d;
    --bg-blue: #005edc;
    --bg-yellow: #0b503f;

    /* --------- FONT --------- */
    --main-font: 'Roboto', sans-serif;
    --typo-font: 'Montserrat', sans-serif;
    --text-font: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.home2 {
    width: 100%;
    height: 110vh;
    background-color: var(--bg-red);
}

.home1 {
    width: 100%;
    height: 110vh;
    background-color: var(--bg-blue);
    /* overflow-y: hidden; */
}

.home3 {
    width: 100%;
    height: 110vh;
    background-color: var(--bg-yellow);
    /* overflow-y: hidden; */
}




.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 222;
    transition: all .3s ease-in-out;
}

.navbar-container {
    z-index: 4444;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .menu {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 100px;
    width: 150px;
    height: 30vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
} */
#menu {
    opacity: 1;
    z-index: 99;
    position: fixed;
    top: 50px;
    left: -200px;
    width: 150px;
    height: 30vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.menu .active{
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    height: 30vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    transition: .2s;
}
#menu1{
    background-color: white;
}
#menu1 ul li a {
    text-decoration: none;
    color: #d2222d;
    transition: .2s;
}
#menu1 ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    transition: .3s;
}
#menu1 ul li :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #f5f5f5;
}

.menu ul li a:hover {
    color: #275aaa;
}
#menu1 ul li a:hover {
    color: hsl(356, 72%, 48%);
}


.scrolling-active{
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}
.scrolling-active .navbar-container .navbar-left i{
    color: black;
}
.scrolling-active .navbar-container .navbar-left a{
    color: black;
}
.scrolling-active .navbar-container .navbar-center h2{
    color: black;
}
.scrolling-active .navbar-container .navbar-right i{
    color: black;
}
.span{
    color: white;
}
.scrolling-active .span{
    color: black;
}
 

.navbar-container .navbar-left a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 17px;
}

.navbar-container .navbar-left i {
    cursor: pointer;
    color: var(--bg-color);
    font-size: 17px;
    margin-right: 16px;
    transition: all .3s ease;
}
.bars-close{
    display: none;
    transition: all .9s ease;
}
.bars-active{
    transition: all .3s;
}

.navbar-container .navbar-center h2 {
    margin-top: 10px;
    color: var(--bg-color);
    font-size: 25px;
}

.navbar-container .navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-container .navbar-right i {
    cursor: pointer;
    color: var(--bg-color);
    font-size: 17px;
}

/* navbar end */
/* main */
.main {
    width: 78%;
    height: 120vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main h3 {
    font-size: 30px;
    color: var(--bg-color);
}

.main h2 {
    font-size: 37px;
    color: var(--bg-color);
}

.main p {
    font-size: 14px;
    color: var(--bg-color);
    margin: 30px 0;
}

.main p::before {
    content: "";
    width: 12px;
    height: 2px;
    background-color: var(--bg-color);
}

.main p span {
    color: var(--bg-color);
    width: 50px;
    height: 1px;
    background-color: var(--bg-color);
}

.main a button {
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

.main a button:hover {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

}

.main-right img {
    width: 700px;
    height: 400px;
    animation: img 1s infinite alternate;

}

.main .main-right2 img {
    margin-right: 34px;
    margin-top: -20px;
    width: 440px;
    height: 370px;
    animation: img 1s infinite alternate;

}

/* typo */
.main-left h3 {
    font-size: 40px;
    font-family: var(--text-font);
    font-weight: 1000;
}

.main-left h5 {
    font-family: var(--text-font);
    color: var(--bg-color);
}

.main-left p {
    position: relative;
    top: -2em;
    max-width: 350px;
    text-align: justify;
}

.main-left button {
    position: relative;
    top: -3em;
}

.main-left .typo {
    width: 400px;
    height: 400px;
    background-color: #d2222d;
    padding: 1.5em;
}

.main-left .typo #flow {
    font-size: 45px;
    font-family: var(--typo-font);
}

.main-left .typo #blue {
    font-size: 45px;
    font-family: var(--typo-font);
}








/* scroll sections startr */
.swiper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    margin: auto;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    margin-bottom: 60px;
}


.swiper-slide img {
    width: 500px;
    height: 250px;
    margin-left: 90px;
    margin-bottom: 50px;

}

.swipper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
}

.swiper-button-prev {
    margin-left: 30px;
    color: var(--bg-color);
}

.swiper-button-next {
    margin-right: 30px;
    color: var(--bg-color);
}

/* ------ TYPO -------- */
.main-left h3 {
    font-size: 40px;
    font-family: var(--main-font);
    font-weight: 1000;
}

.main-left h5 {
    font-family: var(--text-font);
    color: var(--bg-color);
}

.main-left p {
    position: relative;
    top: -2em;
    max-width: 350px;
    text-align: justify;
}

.main-left button {
    position: relative;
    top: -3em;
}

.typo {
    position: absolute;
    right: 0;
    top: 9em;
    left: 55%;
    width: 400px;
    height: 400px;
    padding: 1.5em;
}

.typo #flow {
    position: relative;
    left: -0.2em;
    top: 0.4em;
    font-size: 4.5em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 3;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
}

.typo #blue {
    position: relative;
    top: 0.4em;
    left: 35%;
    font-size: 4.5em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 2;
    color: var(--bg-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    z-index: 1;
}

#image.main-right {
    z-index: 2;
}

/* typo red */
.typo-2 {
    position: absolute;
    right: 0;
    top: 9em;
    left: 55%;
    width: 400px;
    height: 400px;
    padding: 1.5em;
}

.typo-2 #blood {
    position: relative;
    left: -0.2em;
    top: 0.2em;
    font-size: 4.8em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 3;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    line-height: 65px;
    z-index: 9;
}

.typo-2 #wings {
    position: relative;
    top: -0.3em;
    left: -0.1em;
    font-size: 4.8em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 3;
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, .2); */
    z-index: 2;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
}

.typo-2 #blood span {
    font-family: var(--typo-font);
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    background-color: transparent;
    z-index: 2;
}

.typo-2 #blue {
    position: relative;
    font-size: 1em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 2;
    color: var(--bg-color);
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px; */
    z-index: 10;
    text-align: right;
}

/* .typo #blue {
    position: relative;
    top: 0.4em;
    left: 35%;
    font-size: 4.5em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 2;
    color: var(--bg-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
    z-index: 1;
} */

#image.main-right2 {
    z-index: 5;
}

/* typo yellow */
.typo-3 {
    position: absolute;
    right: 0;
    top: 9em;
    left: 55%;
    width: 400px;
    height: 400px;
    padding: 1.5em;
}

.typo-3 #blood {
    position: relative;
    left: -0.5em;
    top: 0.5em;
    font-size: 4.8em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 3;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    line-height: 65px;
    z-index: 12;
}

.typo-3 #blood-1 {
    position: relative;
    left: -0.2em;
    top: 0.8em;
    font-size: 4.8em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 3;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    line-height: 65px;
    z-index: 6;
}

.typo-3 #wings {
    position: relative;
    top: -0.5em;
    left: -0.25em;
    font-size: 4.8em;
    font-family: var(--typo-font);
    font-weight: bold;
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, .2); */
    z-index: 6;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px;
}

.typo-3 #blood span {
    font-family: var(--typo-font);
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    background-color: transparent;
    z-index: 2;
}

.typo-3 #blue {
    position: relative;
    font-size: 1em;
    font-family: var(--typo-font);
    font-weight: bold;
    z-index: 2;
    color: var(--bg-color);
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px; */
    z-index: 10;
    text-align: right;
}

#image.main-right2 {
    z-index: 11;
}



@keyframes img {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

/* home secton end */

/* shipping sections start */
.shipping {
    width: 100%;
    min-height: 30vh;
}

.shipping-container {
    width: 92%;
    max-width: 200%;
    margin: auto;
    height: 30vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
}

/* shipping end */
/* colecctions start */
.colections {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* colections end */
